@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202021;
    width: 100vw;
    height: 100vh;
display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.username h1, .password h1, .email h1, .invite h1 {
    color: #D9D9D9;


    font-family: Onest, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.bg1, .bg2, .bg3, .bg4 {
    width: 22.6rem;
    height: 3.05rem;
    border-radius: 0.9375rem;
    background: #202021;
    box-shadow: 0px 4px 15.4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bg1 i, .bg2 i, .bg3 i, .bg4 i {
    font-size: 1.2rem;
    color: #D9D9D9;
    margin-left: 0.75rem;
}

.username h1, .password h1, .email h1, .invite h1 {
    margin-bottom: 0.56rem;
}
.username input, .password input, .email input, .invite input {
    all: unset;
    width: 100%;
    color: #D9D9D9;
    font-family: Onest, serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    background-color: #202021;
}

.reg {
    margin-top: 1rem;
    width: 22.6rem;
    height: 3.05rem;
    border-radius: 0.9375rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 15.4px 6px rgba(0, 0, 0, 0.25);
    color: #202021;

    font-family: Onest;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;

}

.alr {
    all: unset;
    color: rgba(217, 217, 217, 0.65);

    font-family: Onest, serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.alr:hover {
    cursor: pointer;
    color: #D9D9D9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.errorBorder {
    border: 1px solid #800101;
}

.username h3, .password h3, .email h3, .invite h3 {
    color: #800101;
    font-family: Onest, serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 0.25rem;
}

.successOtp {
    background-color: #2fff00;
    transition: background-color 3s ease;
}